.navs{
    display: flex;
    gap: 1rem;
    align-items: center;
    transition: 0.3s all ease-in-out;
}
.links{
    text-decoration: none;
    cursor: pointer;
}
.navs:hover{
    opacity: 0.7;
}
.links h4{
    margin: 0;
}
