.container{
    background-color: #1212125e;
    padding:1.5rem 0;
    margin-top: 1.5rem;
    position: absolute;
    width: 100%;
    left: 0;
    min-height: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.info{
    margin-top: 1.8rem;
    display: grid;
    grid-template-columns: 0.1fr 10fr 0.4fr;
    padding: 0 1.5rem;
    gap:1rem
}
.info img{
    height: 1.2rem;
    width: 1.2rem;
    filter: invert(100%);
}
.songsSection{
    padding: 0.5rem 1.5rem;
}
.songsSection hr{
    opacity: 0.1;
}
.songsSection h5{
    margin: 0;
}
.song{
    display: grid;
    grid-template-columns: 0.1fr 10fr 0.1fr;
    gap:1rem;
    transition: 0.2s all ease-in-out;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}
.songs img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
}
.songCard{
    display: flex;
    align-items: end;
    gap: 0.8rem;
}
.songDetails *{
    margin: 0;
}
.songDetails{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: end;
}
.songDetails h4{
    font-weight: 400;
}
.songDetails h5{
    font-weight: 500;
}
.songs h5{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.596);
}
.songs time{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.596);
    font-size: 0.9rem;
}
.song:hover{
    background-color: #40404088;
}
.songs{
    margin-top: 1.5rem;
    display: flex;    
    flex-direction: column;
}