.song {
  display: grid;
  grid-template-columns: 0.1fr 10fr 0.1fr;
  gap: 1rem;
  transition: 0.2s all ease-in-out;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.song img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
}
.songCard {
  display: flex;
  align-items: flex-end;
  gap: 0.8rem;
}
.songDetails * {
  margin: 0;
}
.songDetails {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: flex-end;
}
.songDetails h4 {
  font-weight: 400;
}
.songDetails h5 {
  font-weight: 500;
}
.song h5 {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.596);
}
.song time {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.596);
  font-size: 0.9rem;
}
.song:hover {
  background-color: #40404088;
}
.playButton {
  filter: invert(85%);
  height: 1rem !important;
  width: 0.6rem !important;
}
.firstInfo {
  display: flex;
  align-items: center;
  width: 0.5rem;
}
