#songInput{
    height: 3rem;
    width: 18rem;
    word-spacing: 0.2px;
    border-radius: 2rem;
    font-size: 14px;
    border:1px solid #121212;
    background-color: #252525;
    padding: 0 2.3rem;
    color: white;
    transition: 0.15s ease-in-out;
}
.searchComponent{
    position: relative;
}
.searchComponent .searchImg{
    position: absolute;
    top: 1rem;
    left: 0.8rem;
    pointer-events: none;
}
#songInput:hover{
    background-color: #2b2b2b;
    border:1px solid #5e5e5e
}
.song{
    display: flex;
    transition: 0.15s all ease-in-out;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.5rem 0;
    gap: 0.8rem;
    cursor: pointer;
    user-select: none;
}
.song>img{
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}
.info *{
    margin: 0;
    font-weight: 600;
}
.info h4{
    font-size: 0.98rem;
}
.info h6{
    font-size: 0.75rem;
}
.song time{
    font-size: 0.8rem;
    margin: auto 0;
}
.songsHeading{
    font-size: 1.6rem;
    margin: 0 0.5rem;
}
.song:hover{
    background-color: #2b2b2b;
}
.songsSection{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1rem;
    position: relative;
}
.song:active{
    opacity: 0.8;
    background-color: #1f1f1f;
    transform: scale(0.99,0.99);
}
.circle{
    height: 0.2rem;
    width: 0.2rem;
    background-color: rgba(255, 255, 255, 0.747);
    border-radius: 50%;
}
.options{
    display: flex;
    gap: 0.2rem;
    margin: auto 0.5rem auto auto;
    padding: 0.5rem 0;
    justify-content: center;
}
.topSong{
    background-color: #181818;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
    position: relative;
}
.topSong>img{
    height: 6.5rem;
    width: 6.5rem;
    margin: 1.5rem;
    border-radius: 5px;
}
.topSong h1{
    margin: 0 1.5rem;
    font-size: 2.2rem;
}
.topSong .bottomInfo{
    display: flex;
    margin: 0 1.5rem;
    gap: 0.4rem;
}
.topSong .bottomInfo *{
    font-weight: 500;
}
.bottomInfo .dot{
    display: flex;
    align-items: center;
    height: 0.25rem;
    width: 0.25rem;
    border-radius: 50%;
    background-color: #A1A1A1;
    margin: auto 0;
}
.bottomInfo .type{
    color: #A1A1A1;
}
.songsSection>section>header{
    font-size: 1.5rem;
}
.songsSection>section>header>h1{
    margin: 0 0 1rem 0;
}
.songsSection .topSong:hover{
    background-color: #282828;
}
.playButton{
    height: 3.3rem;
    width: 3.3rem;
    background-color: #1FDF64;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 1.3rem;
    animation: playButtonAnimation 0.15s forwards;
    transition: 0.2s all ease-in-out;
}
@keyframes playButtonAnimation {
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 1.3rem;
        opacity: 1;
    }
}
.playButton:hover{
    transform: scale(1.05,1.05);
}
.playButton:active{
    transform: scale(1,1);
    filter: brightness(60%);
}
.notFound{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.5rem;
}